---
import Layout from '../layouts/Layout.astro';
import {announcements} from '../data/page_index.json';

const posts = announcements.sort(
	(a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf()
);

---
<Layout title = "Announcements" description = "Updates about the SpookyJam modding event!">
	{posts.map((post) => (

		<h2 class = 'mb-0'><a href={post.url}>{post.title}</a></h2>

		<p class = 'text-gray-400 pb-1'>Posted 
			<time datetime={post.pubDate}>
				{new Date(post.pubDate).toLocaleDateString('en-us', {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
				})}
			</time>
		</p>
		<p>{post.description} <a href={post.url}>Read more!</a></p>
	))}
</Layout>