---
import Layout from "../layouts/main.astro";
import {fetchMods} from "../util/curseforge.js";
import {SUBMISSIONS} from "../config.js";
import SubmissionBox from "../components/SubmissionBox.astro";

const submissionIds = [] as number[];
for (const year of SUBMISSIONS.keys()) {
    submissionIds.push(...(SUBMISSIONS.get(year) ?? []));
}

const submissions = await fetchMods(submissionIds)
submissions.sort((a, b) => new Date(b.created_at).valueOf() - new Date(a.created_at).valueOf());
const allAuthors = new Set();
submissions.forEach((project) => project.members.forEach((author) => allAuthors.add(author.username)));
console.log(allAuthors)
const sum = submissions.reduce((downloads, project) => downloads + project.downloads.total, 0);
---

<Layout
        title="Submissions"
        description="A list of all projects that have participated in SpookyJam!"
>
    <p>
        Over the years we have received many submissions from a wide range of
        talented community members! So far we have received exactly {
        submissions.length
    } mod submissions from {allAuthors.size} different authors! SpookyJam mods
        have cumulatively been downloaded {sum.toLocaleString("en-US")} times on
        CurseForge! Below you will find a complete list of every project submitted
        to SpookyJam so far!
    </p>

    {
        Array.from(SUBMISSIONS.keys()).map(year => (
                <h2 id={year}>{year}</h2>
                <SubmissionBox year={year}/>
        ))
    }
</Layout>
