---
import { Image, Picture } from '@astrojs/image/components';
export interface Props {
    width: number,
    height: number,
    images: ImageData[];
}

export interface ImageData {
    src: string,
    name: string,
    description: string
}

const { width, height, images, ...props } = Astro.props as Props;
---

<div class="flex items-center justify-center h-screen">

    <a class="py-3 border-yellow-700 border-2 rounded-lg hover:bg-yellow-900 hover:bg-opacity-25 rotate-180" onclick="nextSlide()">
        <Image src="/arrow.png" width="32" height="32" alt="navigation arrow" format="webp" aspectRatio="1:1"/>
    </a>

    <div class="mx-3">
        {
            images.map((image, index) => (
                <div class="image-slide">
                    <div class="relative border-2 border-yellow-700">
                        <Image src={image.src} width={width} height={height} alt={image.description} format='webp'/>
                        <div class="absolute bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
                            <p class="m-0 text-xl text-white font-bold">{`${image.name} (${index + 1}/${images.length})`}</p>
                            <p class="mt-0 text-lg text-gray-300">{image.description}</p>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>

    <a class="py-3 border-yellow-700 border-2 rounded-lg hover:bg-yellow-900 hover:bg-opacity-25" onclick="nextSlide()">
        <Image src="/arrow.png" width="32" height="32" alt="navigation arrow" format="webp" aspectRatio="1:1"/>
    </a>

</div>

<script is:inline>

    let currentSlide = 0;

    function nextSlide() {
        showSlide(currentSlide + 1)
    }

    function previousSlide() {
        showSlide(currentSlide - 1)
    }

    function showSlide(toShow) {

        let slides = document.getElementsByClassName("image-slide")
        currentSlide = (toShow >= slides.length) ? 0 : (toShow < 0) ? slides.length - 1 : toShow;

        console.log(toShow)
        console.log(currentSlide);
        for (let slide of slides) {
            slide.style.display = "none"
        }

        slides[currentSlide].style.display = "block"
    }

    showSlide(0);
</script>